body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --black: #150605;
  --red: #ea453c;
  --pink: #f47b6e;
  --light-blue: #effbfe;
  --blue: #ace6ec;
}

html,
body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  background-color: black;
  color: var(--light-blue);
}

a {
  text-decoration: none;
  color: var(--light-blue);
}

main.photos {
  padding: 0.5em;
  display: grid;
  grid-gap: 0.3em;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-flow: dense;
}

img.image-grid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container {
  position: relative;
}

.wide {
  grid-column: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.favorite {
  position: absolute;
  left: 5px;
  top: 5px;
  color: var(--red);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

main.cart-page {
  padding: 1em;
}

.cart-page > h2 {
  text-align: center;
}

.cart-page .total-cost {
  text-align: right;
  font-size: 1.3em;
}

.cart-page div.order-button {
  display: flex;
  justify-content: center;
}

div.order-button > button {
  border-color: var(--black);
  border-radius: 1em;
  cursor: pointer;
  padding: 0.5em 1em;
  transition: all 0.2s ease-in-out;
}

div.order-button > button a {
  color: var(--black);
}

div.order-button > button:focus {
  outline: none;
}

div.order-button > button:disabled {
  border-color: lightgray;
}

.cart {
  position: absolute;
  right: 5px;
  top: 5px;
  color: var(--red);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
  border: solid 1px var(--black);
  padding: 1em;
  border-radius: 1em;
}

.cart-item img {
  margin-right: auto;
  margin-left: 10px;
}

.ri-delete-bin-line,
.ri-delete-bin-fill {
  font-size: 1.3em;
  cursor: pointer;
}
