body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --black: #150605;
  --red: #ea453c;
  --pink: #f47b6e;
  --light-blue: #effbfe;
  --blue: #ace6ec;
}

html,
body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  background-color: black;
  color: var(--light-blue);
}

a {
  text-decoration: none;
  color: var(--light-blue);
}

main.photos {
  padding: 0.5em;
  display: grid;
  grid-gap: 0.3em;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-flow: dense;
}

img.image-grid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container {
  position: relative;
}

.wide {
  grid-column: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.favorite {
  position: absolute;
  left: 5px;
  top: 5px;
  color: var(--red);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.cart {
  position: absolute;
  right: 5px;
  top: 5px;
  color: var(--red);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
